@import "tailwindcss";
@plugin "daisyui";

/* Navbar Active color */
 .menu li > .active {
  @apply text-[#297B33];
}
/* Navbar items bg-transparent  */
.navbar a:focus,
.navbar a:hover {
  @apply bg-transparent outline-none;
}
/* Private Route text color */
.navbar div ul a:focus, .navbar div ul a:hover, .navbar .active{
      @apply text-[#297B33];
}